.social {
  margin: 0 auto;
  display: block;
}
  
.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
.social li {
  display: inline;
  margin: 0 1em 0 0;
}
  
.social a {
  color: #212121;
  text-decoration: none;
  font-size: 1.2em;
}