.about-name, .about-profession, .about-location {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
.about {
    text-align: center;
}
  
.about-avatar { 
    display: inline-block; 
    position: relative; 
    border-radius: 50%; 
    border: 0.2rem solid #dd4814;
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    width: 13rem; 
    height: 13rem; 
    overflow: hidden; 
    background-color: white; // nasty little hack to center the image
                               // see the comment below

} 

.about-avatar img { 
    width: auto; 
    height: auto;
    margin-right: -1rem; // nasty little hack to center the image
                         // since the photo itself is not well centered, so I had
                         // to move it to the right just a bit. However, this makes the container
                         // to display the gap in another color which is why I'm setting 
                         // the background-color: white; in the parent container (div class=about-avatar)
                         // and very please Cristian, buy yourself a decent CSS course -.-
}
  
.about-name h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin: .5em 0 0 0;
    color: #dd4814;
}
  
.about-profession p {
    margin: .2em 0 1em 0;
    letter-spacing: 1.6px;
    font-weight: 300;
    color: #dd4814;
}
  
.about-bio {
    color: #757575;
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 1em 0;
}
  
.about-location {
    font-size: 1em;
    font-weight: 400;
    color: #757575;
    margin: 0 0 1em 0;
}
  