
<app-loader *ngIf="!personalData" ></app-loader>

<div *ngIf="personalData" class="app" >
    
    <div class="columns is-variable is-7">

      <aside class="column is-one-third">
        
          <app-about 
            [avatar]="personalData.avatar" 
            [name]="personalData.name"
            [profession]="personalData.profession"
            [bio]="personalData.bio"
            [address]="personalData.address"
            [social]="personalData.social">
          </app-about>
        
      </aside>
      
      <app-personal-info
        [education]="personalData.education"
        [experience]="personalData.experience"
        [skills]="personalData.skills"
        [languages]="personalData.languages"
      ></app-personal-info>

    </div>

  <app-footer></app-footer>

</div>

<!-- <router-outlet></router-outlet> -->
